pose/data
pose/Outputs
pose/checkpoints
pretrain/data
pretrain/Outputs
pretrain/checkpoints
seg/data
seg/Outputs
seg/checkpoints
__pycache__/
*.pyc
*.ipynb_checkpoints
*.so
*.DS_Store
*._*
*.egg
lite/sapiens_lite_host/*
lite/demo
lite/demo/vis_pose.py
liter/examples/output*
yolo11x.pt
liter/utils/old_save/*